        
        @model List<Personel>


        <table class="table">
            <thead>
            <tr>
                  <th scope="col">#</th>
                  <th scope="col">Adı</th>
                  <th scope="col">Soyadı</th>  
            </tr>
          </thead>
          <tbody>
            
                 @foreach (var personel in Model)
                 {
                  <tr>  
                      <td>@personel.Adi</td>
                      <td>@personel.Soyadi</td>    
                  </tr>  
                 }
                   
             </tbody>
        </table>