
@*<img src="/download.jpg" class="max-width: 100%" alt="...">*@

@Html.ActionLink("AnasayfaWithHtmlHelper","Index","Home")

<br />

<a asp-action="Index" asp-controller="Home">AnasayfaWithTagHelper</a>
